<div class="container">
  <div class="row">
    <div class="col-lg-6">
        <form>
          <div class="form-group">
              <input type="name" class="form-control" id="inputName" aria-describedby="nameHelp" placeholder="Imię i nazwisko">
            </div>
          <div class="form-group">
            <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="E-mail">
          </div>
          <div class="form-group">
            <textarea class="form-control" id="textareaContent" rows="5"  maxlength="100" minlength="30" placeholder="Treść wiadomości"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Wyślij</button>
        </form>
    </div>
    <div class="col-lg-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2559.491377059725!2d18.54698621532216!3d50.09580897942797!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47114ed6c5f0792d%3A0x16bf5da0da13a9a9!2sGeo-Tom+Us%C5%82ugi+geodezyjno-kartograficzne+Tomasz+Smyrdek+-+RYBNIK!5e0!3m2!1spl!2spl!4v1562154661593!5m2!1spl!2spl"
          class="z-depth-1-half map-container-6" height="400" frameborder="0" style="border:0" allowfullscreen>
        </iframe>
    </div>
  </div>
</div>
